
**/local.properties

# =========================
# ANDROID / GRADLE
# =========================
.gradle/
build/
**/build/

# =========================
# ANDROID STUDIO
# =========================
.idea/
.idea/*
*.iml
*.iws
*.ipr

# =========================
# LOCAL CONFIG (CRÍTICO)
# =========================
local.properties

# =========================
# KOTLIN
# =========================
.kotlin/
**/*.kotlin_module

# =========================
# LOGS
# =========================
*.log

# =========================
# APK / AAB
# =========================
*.apk
*.aab

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# NODE / ZIP (por tu proyecto)
# =========================
node_modules/
*.zip
